body {background-color: #6600FF;}

@media only screen and (max-width: 764px) {
	table, body, td, tr {display: block;}
}

/*td {position: relative; text-align: center;}*/

.Number {font-size: 30%; text-align: left;}
.Atom {text-align: center;}
.AtomicMass {font-size: 30%; text-align: right;}
.NoMetal {background-color: #A0FFA0;}
.AlkaMetal {background-color: #FF6666;}
.AlkaEarth {background-color: #FFCC99;}
.PoorMetal {background-color: #CCCCCC;}
.Metaloid {background-color: #CCCC99;}
.Transition {background-color: #FFC0C0;}
.NobleGaz {background-color: #C0FFFF;}
.Halogen {background-color: #FFFF99;}
.Lanthanide {background-color: #FFBFFF;}
.Actinide {background-color: #FF99CC;}
